.find {
  width: 85%;
}

.img-container {
  width: 100%;
  /* height: 120px; */
  vertical-align: sub;
  /* box-sizing: border-box; */
}

.find-img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
