.bg-brown {
  background-color: var(--brown);
}

.icon-yellow {
  color: var(--yellow);
}

.btn-sandwich {
  border-color: var(--grey);
}

.nav-icon {
  color: white;
}

.login {
  position: relative;
}

.login::before {
  content: "";
  display: block;
  border: 1px solid var(--grey);
  position: absolute;
  width: 2.8rem;
  transform: rotate(90deg);
  right: 17px;
  top: 12px;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  .login::before {
    width: 3.5rem;
  }
}
