@import url("./header.css");
@import url("./banner.css");
@import url("./find.css");
@import url("./products.css");
@import url("./newsletter.css");
@import url("./footer.css");

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --black: #000000;
  --grey: #949494;
  --white: #ffffff;
  --white-second: #d9d9d9;
  --brown: #4f200d;
  --yellow: #ffd93d;
  --orange: #ff8400;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--white-second);
}

.third-font {
  font-family: "Bungee", sans-serif;
  color: var(--orange);
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
}

.title-section {
  color: var(--brown);
}

.card-bg {
  background-color: var(--brown);
  color: var(--brown);
}
